{% extends 'layout.html' %}

{% block content %}
<div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    
    <table id="your-table"  class="table table-hover table-bordered "  width="100%"></table>
    

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- {"playerid": 1713, "playername": "Vince Carter", "teamid": 1610612737, "teamabbr": "ATL", "gp": 76, "win": 25, "loss": 51, "min": 17.5, "fgm": 2.6, "fga": 6.2, "fg_pct": 0.419, "fg3m": 1.6, 
    "fg3a": 4.2, "fg3_pct": 0.389, "ftm": 0.6, "fta": 0.9, "ft_pct": 0.712, "oreb": 0.4, "dreb": 2.1, "treb": 2.6, "ast": 1.1, "stl": 0.6, "blk": 0.4, "pts": 7.4, 
    "tov": 0.6, "fouls": 1.9} -->
    <script>
   
    
        $.getJSON('http://nbadaily.herokuapp.com/_all_players',function(data){
           $('#your-table').DataTable( 
           {
               
               data: data,
               "order": [[ 24, "desc" ]],
               "autoWidth": true,
               "pageLength": 25,
   
               "columnDefs": [
               {
                   "targets": [ 0,2,5,6 ],
                   "width": "20%",
                   "visible": false,
                   "searchable": false
               },
               {
                   "orderSequence": [ "asc" ], 
                   "targets": [ 1,3,4,7,8,9,10,11 ] 
               }
               
               ],
               
               fixedHeader:[true],
               columns: [
                   { title: 'Player ID'},
                   { title: "Player Name" },	
                   { title: 'Team ID' },
                   { title: "Team" },	
                   { title: 'GP' },
                   { title: "Win" },	
                   { title: 'Loss' },
                   { title: "Min" },	
                   { title: 'Fgm' },
                   { title: "Fga" },	
                   { title: 'FG_pct' },
                   { title: "Fg3m" },	
                   { title: 'Fg3a' },
                   { title: "FG3_pct" },	
                   { title: 'FTm' },
                   { title: "FTa" },	
                   { title: 'FT_pct' },
                   { title: "oreb" },	
                   { title: 'dreb' },
                   { title: "treb" },	
                   { title: 'ast' },	
                   { title: "stl" },				 
                   { title: 'blk' },
                   { title: "pts" },
                   { title: 'tov' },
                   { title: "fouls" },	
                   
   
                                
               ]   
           } );
   
       });
       
       
       </script>
       </div>
<!-- <script>
$(document).ready(function() {
    var table = $('#players').DataTable( {
        "responsive": true,
        "pageLength": 25,
        "columnDefs": [
            {
                "targets": [ 0 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 2 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 5 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 6 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 17 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 18 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            ],
            
            //0 2 5 6 17 18 
        columns: [
				{ data: 0},
				{ data: 1 },	
                { data: 2 },
				{ data: 3 },	
                { data: 4 },
				{ data: 5 },	
                { data: 6 },
				{ data: 7 },	
                { data: 8 },
				{ data: 9 },	
                { data: 10 },
				{ data: 11 },	
                { data: 12 },
				{ data: 13 },	
                { data: 14 },
				{ data: 15 },	
                { data: 16 },
				{ data: 17 },	
                { data: 18 },
				{ data: 19 },	
                { data: 20 },	
				{ data: 21 },				 
                { data: 22 },
                { data: 23 },
                { data: 24 },
				{ data: 25 },	
                

							 
			] 
        
    } );
} );
    
    </script>
    <div class="container-fluid" style="margin-left:150px">
    
            <h1>Players Per Game Stats</h1>
    <div class="row">
    <table id ="players" style = "width:100%;">
        <thead>
            <tr>
                
				<th> Player ID</th>
				<th> Player Name </th>	
                <th> Team ID </th>
				<th> Team </th>	
                <th> GP </th>
				<th> Win </th>	
                <th> Loss </th>
				<th> Min </th>	
                <th> Fgm </th>
				<th> Fga </th>	
                <th> FG_pct </th>
				<th> Fg3m </th>	
                <th> Fg3a </th>
				<th> FG3_pct </th>	
                <th> FTm </th>
				<th> FTa </th>	
                <th> FT_pct </th>
				<th> oreb </th>	
                <th> dreb </th>
				<th> treb </th>	
                <th> ast </th>	
				<th> stl </th>				 
                <th> blk </th>
                <th> pts </th>
                <th> tov </th>
				<th> fouls </th>	
                

							 
			
            </tr>
        </thead>
        <tbody>
            {%for player in players%}<tr><td>{{player[0]}}</td> <td>{{player[1]}}</td> <td>{{player[2]}}</td> <td>{{player[3]}}</td> <td>{{player[4]}}</td> <td>{{player[5]}}</td> <td>{{player[6]}}</td> <td>{{player[7]}}</td> <td>{{player[8]}}</td> <td>{{player[9]}}</td> <td>{{player[10]}}</td> <td>{{player[11]}}</td> <td>{{player[12]}}</td> <td>{{player[13]}}</td> <td>{{player[14]}}</td> <td>{{player[15]}}</td> <td>{{player[16]}}</td> <td>{{player[17]}}</td> <td>{{player[18]}}</td> <td>{{player[19]}}</td> <td>{{player[20]}}</td> <td>{{player[21]}}</td> <td>{{player[22]}}</td> <td>{{player[23]}}</td> <td>{{player[24]}}</td> <td>{{player[25]}}</td></tr>{%endfor%}
        </tbody>
    
    </table>
</div> -->


{%endblock content%}