{% extends 'layout.html' %}

{% block content %}


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

   
    <table id="your-table"  class="table table-hover table-bordered "  width="100%"></table>
    

	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
 
    
    <script>
     
        $(document).ready(function() {
    var table = $('#players').DataTable( {
        "responsive": true,
        "pageLength": 25,
        "columnDefs": [
            {
                "targets": [ 0 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 2 ],
                "width": "20%",
                "visible": false,
                "searchable": false
            },
            ],
        "columns": [
            { data: 0 },
            { data: 1 },
            { data: 2 },
            { data: 3 },
            { data: 4 },
            { data: 5 },
            { data: 6 },
            { data: 7 },
            { data: 8 },
            { data: 9 },
            { data: 10 },
            { data: 11 },
            { data: 12 },
            { data: 13 },
            { data: 14 },
            { data: 15 }
            
        ]
    } );
} );
    
    </script>
    <div class = "container">
            <h1>Players Zscores</h1>
    
    <div class = "row">        
    <table   id ="players" style = "width:100%;">
        <thead>
            <tr>
                <th>PlayerID</th>
                <th>Player Name</th>
                <th>TeamID</th>
                <th>Team</th>
                <th>GP</th>
                <th>Min</th>
                <th>FG</th>
                <th>FT</th>
                <th>3pt</th>
                <th>Reb</th>
                <th>Ast</th>
                <th>Stl</th>
                <th>Blk</th>
                <th>Pts</th>
                <th>Tov</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {%for player in players%}
                <tr>
                    <td>{{player[0]}}</td>
                    <td>{{player[1]}}</td>
                    <td>{{player[2]}}</td>
                    <td>{{player[3]}}</td>
                    <td>{{player[4]}}</td>
                    <td>{{player[5]}}</td>
                    <td>{{player[6]}}</td>
                    <td>{{player[7]}}</td>
                    <td>{{player[8]}}</td>
                    <td>{{player[9]}}</td>
                    <td>{{player[10]}}</td>
                    <td>{{player[11]}}</td>
                    <td>{{player[12]}}</td>
                    <td>{{player[13]}}</td>
                    <td>{{player[14]}}</td>
                    <td>{{player[15]}}</td>
                </tr>

            {%endfor%}


        </tbody>
    
    </table>
    </div>
</div>

{%endblock content%}