{% extends 'layout.html' %}
{%block scripts%}

{%endblock scripts%}
{% block content %}
<!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {%if messages%}
        {% for catagory, message in messages %}
            <div>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{%endwith%} -->

<h1>Players</h1>

<table id="players" class ="display">
    <thead>
        <tr class = "table">
                <th>Player Name</th>
                <th>Team</th>
                <th>min</th>
                <th>fgm</th>
                <th>fga</th>
                <th>fg_pct</th>
                <th>3p fgm</th>
                <th>3p fga</th>
                <th>3p fg_pct</th>
                <th>ftm</th>
                <th>fta</th>
                <th>ft_pct</th>
                <th>treb</th>
                <th>ast</th>
                <th>stls</th>
                <th>blks</th>
                <th>pts</th>
                <th>tov</th>

        </tr>
    </thead>
    <tbody>
    {% for player in players%}
        <tr class = "table">
            <td>{{player[1]}}</td> 
            <td>{{player[3]}}</td>
            <td>{{player[7]}}</td>
            <td>{{player[8]}}</td>
            <td>{{player[9]}}</td>
            <td>{{player[10]}}</td>
            <td>{{player[11]}}</td>
            <td>{{player[12]}}</td>
            <td>{{player[13]}}</td>
            <td>{{player[14]}}</td>
            <td>{{player[15]}}</td>
            <td>{{player[16]}}</td>
            <td>{{player[19]}}</td>
            <td>{{player[20]}}</td>
            <td>{{player[22]}}</td>
            <td>{{player[23]}}</td>
            <td>{{player[24]}}</td>
            <td>{{player[21]}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{%endblock content%}